@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="/css/style.css">

<main class="index">
    <section>
        <div>
            <h1>Taskly</h1>
            <h3>Bienvenido!</h3>
            <p>Organizá tus notas y tareas.</p>
            <p>Compartí lo importante, mantené todo bajo control.</p>
        </div>
        <a href='@Url.Action("iniciarSesion")'>Iniciar Sesión</a>
    </section>
</main>
