@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="/css/style.css">

<div>
    <h1>Index</h1>
    <p>Bienvenidos al sitio web de NombreProyecto</p>
    <a href='@Url.Action("iniciarSesion")'>Iniciar Sesión</a>

</div>
