* {
    margin: 0%;
    padding: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 62px;
}

h3 {
    font-size: 24px;
}
h4{
    margin-left:2%;
}

main {
    background-color: #F4F1DE;
}

.index {
    display: inline-block;
    width: 100%;
}

.index section div {
    width: 50%;
    justify-self: center;
    text-align: center;
    margin-top: 5%;
}

.index section div p:first-of-type {
    margin-top: 3%;
    justify-self: center;
    text-align: center;
}

.index section div p {
    width: 40%;
    justify-self: center;
}

.index a {
    margin-top: 5%;
    margin-bottom: 5%;
    justify-self: center;
    text-align: center;
    display: block;
    width: 10%;
    padding: 1%;
    border-radius: 20px;
    text-decoration: none;
    background-color: #3D405B;
    color: #F4F1DE;
}

.iniciar-sesion,
.registrarse {
    width: 100%;
    display: inline-block
}

.iniciar-sesion section,
.registrarse section {
    padding-bottom: 7.5%;
}

.iniciar-sesion section div,
.registrarse section div {
    justify-self: center;
    justify-items: center;
    width: 25%;
    padding: 2.5%;
    margin-bottom: 1.5%;
    margin-top: 5%;
    border: 0px solid grey;
    border-radius: 15px;
    background-color: #81b29aa2;
}

.iniciar-sesion section div form,
.registrarse section div form {
    margin-top: 5%;
    width: 75%;
    clear: both;
}

.iniciar-sesion section div form input,
.registrarse section div form input {
    border-radius: 15px;
    width: 94%;
    clear: both;
    padding: 3%;
    margin-bottom: 2.5%;
}

.registrarse input[type="submit"],
.iniciar-sesion input[type="submit"] {
    margin-top: 5%;
    width: 60%;
    margin-left: 20%;
    border-radius: 20px;
    text-decoration: none;
    background-color: #3D405B;
    color: #F4F1DE;
}

.iniciar-sesion p,
.registrarse p {
    margin-top: 5%;
    width: 100%;
    display: flex;
    gap: 5%;
    justify-content: center;
}


.tarea{
    width: 90%;
    padding: 1.5%;
    background-color: #e0f7e0;
    border: 1px solid #4caf50;
    border-radius: 10px;
    margin-bottom: 1%;;
    padding-right:1.5%;
}
.tareas{
     display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
    margin-left:2%;
    width:100%;
    margin-bottom: 5%;;
}

.tarea h2{
    text-align: center;
    
}

.tarea h4{
    margin-left:3%;
    margin-right:3%;

     word-break: break-all;
}

.borrar{
    display:flex;
    justify-content: space-evenly;
    margin-top:1%;
}
form input[type="submit"]{
    width: 30%;
    border:1px solid #4cab27;
    background-color: #bbeeb6;
    border-radius: 5px;
    margin-top:1%;
    PADDING: 1%;
}
.borrar form input[type="submit"]{
    width: 117%;
    padding:10%;
    border-radius: 5px;
}

.tarea p{
    font-size: smaller;
    text-align:center;
}

.modificar{
    display:flex;
    justify-content: space-evenly;
    margin-top:1%;
}
.modificar input[type="text"]{
 width:60%;
}
select{
    margin-left:10%;
}

.agregar{
    width: 50%;
    padding: 1%;
    background-color: #d5fdd8;
    border:#226408 2px solid;
    border-radius: 15px;
    text-align: center;
    margin-top: 2%;
    margin-left: -11%;
}

.extras{
    margin-left:45%;
}
.papelera h2{
    margin-top:2%;
    text-align: center;
}
.papelera form{
    margin-left:40%;
}
.tareaBorrada {
    width: 30%;
    padding: 1%;
    background-color: #e3ffe0;
    border: 1px solid #227d1d;
    border-radius: 10px;
    margin-top:1%;
    margin-bottom: 2%;
    margin-left:35%;
    box-shadow: #78d14f 0px 0px 10px 2px;
}
.tareaBorrada h2 {
    text-align: left;
    color: #00a803;
}
.tareaBorrada p {
    width:40%;
    font-size: smaller;
    text-align: left;
    color: #006d21;
         word-break: break-all;

}
.tareaBorrada form input[type="submit"] {
    width: 40%;
    border-radius: 5px;
    padding:1%;
    background-color: #ade5a0;
    color: #0ea800;
    border: 1px solid #4fd16b;
    margin-top: 1%;
    cursor: pointer;
}

.lista {
   width: 25%;
    margin-left: 38%;
    margin-top: 2%;
    padding: 1%;
    background-color: #e0f7e0;
    border: 2px solid #4caf50;
    border-radius: 5px;
}
.lista h1 {
    text-align: center;
    color: #226408;
}
.lista form input[type="submit"] {
    width: 40%;
    border-radius: 5px;
    background-color: #d5fdd8;
    color: #226408;
    border: 1px solid #4caf50;
    margin-top: 1%;
    cursor: pointer;
}


.listasHome form input[type="submit"] {
  width:8%;
}
.lista form input[type="submit"] {
  width:40%;
}
.listasHome form input[type="text"] {
padding:0.5%;}