* {
    border: 1px solid black;
    margin: 0%;
    padding: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 62px;
}

h3 {
    font-size: 24px;
}

main {
    background-color: #F4F1DE;
}

.index {
    display: inline-block;
    width: 100%;
}

.index section div {
    width: 50%;
    justify-self: center;
    text-align: center;
    margin-top: 5%;
}

.index section div p:first-of-type {
    margin-top: 3%;
    justify-self: center;
    text-align: center;
}

.index section div p {
    width: 40%;
    justify-self: center;
}

.index a {
    margin-top: 5%;
    margin-bottom: 5%;
    justify-self: center;
    text-align: center;
    display: block;
    width: 10%;
    padding: 1%;
    border-radius: 20px;
    text-decoration: none;
    background-color: #3D405B;
    color: #F4F1DE;
}

.iniciar-sesion,
.registrarse {
    width: 100%;
    display: inline-block
}

.iniciar-sesion section,
.registrarse section {
    padding-bottom: 7.5%;
}

.iniciar-sesion section div,
.registrarse section div {
    justify-self: center;
    justify-items: center;
    width: 25%;
    padding: 2.5%;
    margin-bottom: 1.5%;
    margin-top: 5%;
    border: 0px solid grey;
    border-radius: 15px;
    background-color: #81b29aa2;
}

.iniciar-sesion section div form,
.registrarse section div form {
    margin-top: 5%;
    width: 75%;
    clear: both;
}

.iniciar-sesion section div form input,
.registrarse section div form input {
    border-radius: 15px;
    width: 94%;
    clear: both;
    padding: 3%;
    margin-bottom: 2.5%;
}

.registrarse input[type="submit"],
.iniciar-sesion input[type="submit"] {
    margin-top: 5%;
    width: 60%;
    margin-left: 20%;
    border-radius: 20px;
    text-decoration: none;
    background-color: #3D405B;
    color: #F4F1DE;
}

.iniciar-sesion p,
.registrarse p {
    margin-top: 5%;
    width: 100%;
    display: flex;
    gap: 5%;
    justify-content: center;
}

.vista {
    width: 100%;
    display: inline-block
}

.vista .tareas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    justify-self: center;
}

.vista .tareas div {
    width: 60%;
    justify-self: center;
    padding: 4%;
    background-color: #e9e7da;
    border-radius: 8px;
    position: relative;
}

.vista section div div {
    display: inline-block;
    width: 90%;
    justify-content: center;
}

.vista section div div input {
    width: 60%;
    padding: 1%;
    border-radius: 20px;
    text-decoration: none;
    background-color: #3D405B;
    color: #F4F1DE;
}

.vista .agregar p {
    width: 100%;
    display: flex;
    gap: 5%;
    justify-content: center;
}

.vista .agregar div {
    width: 60%;
    display: inline-block;
    justify-self: center;
}

.vista .agregar form input[type="submit"] {
    width: 15%;
    padding: 0.75%;
    border-radius: 20px;
    text-decoration: none;
    background-color: #3D405B;
    color: #F4F1DE;
}

.vista .agregar div {
    border-radius: 8px;
    padding: 1%;
    margin-left: 16.5%;
    width: 65%;
    display: inline-block;
    justify-self: center;
    background-color: #e9e7da;
    margin-top: 2.5%;
}